	//@variables y funciones{stylus} 
@import 'partials/style__var.styl'
@import 'partials/style__color.styl'
@import 'partials/matrix.styl'
@import 'partials/style_material.styl'
//@fin variables y funciones{stylus} 
@import url('https://fonts.googleapis.com/css?family=Orbitron');
//@Landing
 color_primario =#181f31
 paper          =#fff
 consola =#19d264
 @import "partials/Landing__header.styl"
 @import "partials/Landing__footer.styl"
 @import "partials/Landing__body.styl"
