<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ConsoleAsisitent</title>
    <link rel="shortcut icon" href="img/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="csse/main.css">
</head>

<body>
    <section id="app">
        <footer id="footer" CnsA="1.0">

        </footer>
        <main id="body" CnsA="2.0">
            <code CnsA="2.1">
                <table>
                        <tr v-for="(item, index) in mensaje">
                            <td>{{ item.consola }}</td>
                        </tr>
                </table>
                <table class="bordertable">
                    <tr>
                        <th>nombre</th>
                        <th>edad</th>
                    </tr>
                    <tr>
                        <td>jorge</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>luis</td>
                        <td>80</td>
                    </tr>
                </table>
            </code>
            <article id="section2" CnsA="2.2">
                <div id="descrip" CnsA="2.2.1">

                </div>
                <div ref='messageDisplay' id="historial" CnsA="2.2.2">
                    <span id="msginicial"><br></span>
                    <ul id="User" v-for="(item, index) in actividades">
                        <li v-bind:class="[item.rol]">
                            <span class="nombre">{{ item.user }}:</span>
                            <span class="message">{{ item.message }}</span>
                        </li>
                    </ul>
                </div>
                <div id="get" CnsA="2.2.3">
                    <input type="text" v-on:keyup.enter="actualizarLista" v-model="actividad" name="entrada"
                        id="actividad" placeholder="Enter para confirmar">
                    <button> > / O</button>
                </div>
            </article>
        </main>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="consola/script.js"></script>
</body>

</html>