#app{
  display               : grid;
  grid-template-columns : auto;
  grid-template-rows    : 50px auto;
  height                : 100%;
  width                 : 100%;
}
//2
#body{
    background            :paper;
    display               : grid;
    grid-template-columns : 80% auto
    grid-template-rows    : auto
    grid-row-start        : 2;
    grid-row-end          : 3;
    grid-column-start     : 1
    grid-column-end       : 2
    @media ({$lgdesc}) {
      grid-template-columns : auto 260px
    }
    @media ({$xs}) {
      grid-template-columns : auto
      grid-template-rows    : auto 250px
    }
}
//2.1
code{
  color: consola !important
  grid-column-start: 1
  grid-column-end: 2
  width 100%;
  height 100%
  background: #000
  font-size: 25px
  #estado{
    background: linear-gradient(45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px), linear-gradient(-45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px);
    display: none;
    float right
    grid-template-columns : 60px auto 
    height 40px
    padding-top: 2px
    padding-left: 15px   
    opacity: 0.8;
    width 50%
    -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 16% 100%, 0% 50%); 
    #title{
      color consola;
      font-size: 12px;
      }
    span{
      color: #00bebe;
      font-size: x-small;
      font-family: 'Orbitron', sans-serif;
      text-shadow:1px 1px 13px rgba(25, 210, 100, 0.6)
    }
    @media ({$xs}) {
      display: grid;
    }
    @media ({$mss}) {
      height 20px
      width 100%;
      -webkit-clip-path: inset(0 0 0 0);
    } 
  }
  @media ({$xs}) {
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 1
    grid-row-end: 2
  }
}
//2.2
#section2{
    background: color_primario
    display: grid;
    font-family: 'Orbitron', sans-serif;
    grid-template-rows: auto 40% 40px
    grid-column-start: 2
    grid-column-end: 3
    height: -webkit-fill-available;
    @media ({$xs}) {
      grid-column-start: 1
      grid-column-end: 2
      grid-row-start: 2
      grid-row-end: 3
      grid-template-rows: 210px 40px
    }
}
//2.2.1
#descrip{
    grid-row-start  : 1;
    grid-row-end    : 2;
    padding: 5%;
    h2{
      color: consola
    }
    li{
      color: paper
    }
    @media ({$xs}) {
      display: none;
    }
}
//2.2.2
#historial{
    background: rgb(16, 16, 24)
    border: solid 1px #000
    font-weight: bold
    height 100%
    overflow: auto
    width 100%;
  #msginicial{
    color:#009898
    height: 200px;
    display: -webkit-box;
    text-align: center
    text-shadow: 1px 1px 13px rgba(84, 215, 217, 0.6)
    img{
      object-fit: cover;
      padding: 5px
      width 100%
    }
  }
  #User{
      li{
        display: grid
        grid-template-rows: auto
        grid-template-columns:  30px auto
        .nombre{
          background: paper
          border: solid 1px #009898
          box-shadow: rgb(0, 152, 152) 0px 0px 5px, rgb(0, 152, 152) 0px 0px 5px inset
          border-radius: 100%
          color: #009898
          font-weight: 900;
          font-size: 14px
          height 30px
          text-align: center
          margin-left: -5px
          margin-right: 5px
          padding: 4px
          opacity 0.8
        }
      }   
    }
}
.Alis{
  color #fff
  font-weight: 100 
  margin-left: -5px
  width 100%
  .message{
    background: rgba(247, 11, 117, 0.5)
    box-shadow: rgb(247, 11, 117) 0px 0px 5px, rgb(247, 11, 117) 0px 0px 5px inset
    padding       : 10px 5px 
    padding-left  : 10px
    padding-right : 5px
    border-radius : 0px
    -webkit-clip-path: polygon(0 25%, 10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
  }
}
.User{
  color #fff
  font-weight: 100 
  margin-left -30px
  width 100%
  .message{
    background    : rgba(44,144,57,0.5)
    box-shadow    : rgb(44,144,57) 0px 0px 5px, rgb(44,144,57) 0px 0px 5px inset
    padding       : 10px 5px 
    padding-left  : 10px
    padding-right : 5px
    border-radius : 0px
    -webkit-clip-path: polygon(0 25%, 10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
  }
}
//2.2.3
#get{
    display grid
    grid-template-columns: 80% auto 
    #actividad{
        background: color_primario 
        box-shadow: 0 0 5px #00dcdc, 0 0 5px #00dcdc inset;
        color: paper 
        border: solid 1px rgba(255, 255, 255, 0.2)
        padding-left: 10px
    }      
}
#micro,
#enviar{
  background: paper 
  border: solid 1px #009898
  box-shadow: rgb(0, 152, 152) 0px 0px 5px, rgb(0, 152, 152) 0px 0px 5px inset
  color: color_primario
  color: #009898
  display none 
  opacity 0.8
  -webkit-clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
}
.micro-in{
  display block !important
}
.micro-on{
  display: none
}
.enviar-in{
  display: block !important
}
.enviar-on{
  display none  
}